# Virtual environment
.venv/
env/
venv/

# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/

# Jupyter
.ipynb_checkpoints/
*.ipynb_checkpoints*

# LaTeX auxiliary files
*.aux
*.fls
*.fdb_latexmk
*.out
*.xdv
*.log
*.bbl
*.blg
*/_minted-main/*

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# pytest
.pytest_cache/
